

* {
    caret-color:#9B1A4B;
}

*::selection {
    background: #9b1a4b2a;
}

.editor a {
    color: #9B1A4B;
    text-decoration: none;
}

.editor h1 {
    font-weight: bold;
    font-size: larger;
}

